@media screen and (max-width: 1000px) {
    .navbar{
        padding: 8px 16px;
    }

    .card {
        margin: 10px;
    }

    #tabel-utama h2{
        text-align: center;
    }

    #tabel-lokal h3{
        text-align: center;
    }

    #tabel .container {
        padding: 0 50px;
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand {
        font-size: 20px;
    }

    #tabel .container {
        padding: 0 20px;
        margin-top: 0;
    }
}